# This notebook is for extracting dataset and converting them into readable format - Stephen Vu - QUT

In [3]:
yelp = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Yelp/yelp_restaurant_PA_with_context.csv'
travel = '/Users/stephenvu9686/Downloads/RECSYS DATASET/TravelSTS/Travel_STS/Data_STS.csv'
frappe = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Mobile Frappe/Mobile_Frappe/frappe/frappe.csv'
meta_frappe = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Mobile Frappe/Mobile_Frappe/frappe/meta.csv'
incarmusic = '/Users/stephenvu9686/Downloads/RECSYS DATASET/InCarMusic/Music_InCarMusic/Data_InCarMusic.xlsx'
gowalla = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Gowalla/gowalla_NYC_with_context.csv'
depaul1 = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Depau/ratings.txt'
depaul2 = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Depau/ratings (cópia).txt'
comoda = '/Users/stephenvu9686/Downloads/RECSYS DATASET/Comoda/comoda_data.csv'

In [30]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from tqdm import tqdm

In [4]:
datasets = [yelp,travel,frappe,meta_frappe, incarmusic, gowalla,depaul1,depaul2,comoda]

In [60]:
full_data = [] 
for i in datasets: 
    print(i)
    try: 
        if i[-4:] == 'xlsx':
            df = pd.read_excel(i)
        else:
            df = pd.read_csv(i,sep="\t")
    except: 
        pass 
    full_data.append(df)

/Users/stephenvu9686/Downloads/RECSYS DATASET/Yelp/yelp_restaurant_PA_with_context.csv
/Users/stephenvu9686/Downloads/RECSYS DATASET/TravelSTS/Travel_STS/Data_STS.csv
/Users/stephenvu9686/Downloads/RECSYS DATASET/Mobile Frappe/Mobile_Frappe/frappe/frappe.csv
/Users/stephenvu9686/Downloads/RECSYS DATASET/Mobile Frappe/Mobile_Frappe/frappe/meta.csv
/Users/stephenvu9686/Downloads/RECSYS DATASET/InCarMusic/Music_InCarMusic/Data_InCarMusic.xlsx
/Users/stephenvu9686/Downloads/RECSYS DATASET/Gowalla/gowalla_NYC_with_context.csv
/Users/stephenvu9686/Downloads/RECSYS DATASET/Depau/ratings.txt
/Users/stephenvu9686/Downloads/RECSYS DATASET/Depau/ratings (cópia).txt
/Users/stephenvu9686/Downloads/RECSYS DATASET/Comoda/comoda_data.csv

In [63]:
yelp_df = pd.read_csv(depaul1,sep=",") # good 
travel_df = full_data[1] # good 
frappe_df = full_data[2] #good 
meta_frappe_df = full_data[3] #good 
incarmusic_df = full_data[4] #good
gowalla_df = df = pd.read_csv(gowalla,sep=",") #good
depaul1_df = pd.read_csv(depaul1,sep=",") #good
depaul2_df = pd.read_csv(depaul2,sep=",") #good
comoda_df = pd.read_csv(comoda,sep=",") #good

In [64]:
yelp_df

      userid     itemid  rating     Time Location Companion
0       1003  tt0454876       1  Weekday   Cinema     Alone
1       1003  tt0120912       1  Weekday   Cinema     Alone
2       1003  tt3793764       1  Weekday   Cinema     Alone
3       1003  tt0114148       1  Weekday   Cinema     Alone
4       1003  tt0110357       1  Weekday   Cinema     Alone
...      ...        ...     ...      ...      ...       ...
3590    1082  tt0413267       1  Weekend     Home   Partner
3591    1082  tt1637706       2  Weekend     Home   Partner
3592    1082  tt0343660       1  Weekend     Home   Partner
3593    1082  tt1133985       1  Weekend     Home   Partner
3594    1082  tt1099212       1  Weekend     Home   Partner

[3595 rows x 6 columns]

In [55]:
import pandas as pd

yelp0_df = pd.read_excel("yelp_df.xlsx")
travel0_df = pd.read_excel("travel_df.xlsx")
frappe0_df = pd.read_excel("frappe_df.xlsx")
meta_frappe0_df = pd.read_excel("meta_frappe_df.xlsx")
incarmusic0_df = pd.read_excel("incarmusic_df.xlsx")

gowalla0_df = pd.read_excel("gowalla_df.xlsx")
depaul10_df = pd.read_excel("depaul1_df.xlsx")
depaul20_df = pd.read_excel("depaul2_df.xlsx")
comoda0_df = pd.read_excel("comoda_df.xlsx")

# Example checks
print(yelp_df.head())
print(travel_df.head())

  user,item,stars,date,company_partner,typeOfTheMeal_dinner,priorVisits_1st,typeOfTheMeal_breakfast,typeOfTheMeal_lunch,company_colleague,timeOfTheDay_night,occasion_birthday,recommendation_recommend,company_sibling,dayOfTheWeek_weekend,takeout_takeout,company_friend,company_parent,car_car,priorVisits_2nd,company_child,reservation_walkin,timeOfTheDay_afternoon,traveling_travel,reservation_reservation,discount_applied,dayOfTheWeek_weekday,timeOfTheDay_morning,car_walk,occasion_anniversary,occasion_wedding,occasion_holiday
0  mNsVyC9tQVYtzLOCbh2Piw,MWmXGQ98KbRo3vsS5nZhMA,...
1  Jha0USGDMefGFRLik_xFQg,bMratNjTG5ZFEA6hVyr-xQ,...
2  QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,...
3  aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,...
4  G0DHgkSsDozqUPWtlxVEMw,oBhJuukGRqPVvYBfTkhuZA,...
  creationDate  userID  itemID  rating birthDate gender  opennessToExperience  \
0          NaN       1       1       4       NaN    NaN                   NaN
1          NaN       2       2       1       NaN    NaN                   NaN
2          NaN       2       2       1       NaN    NaN                   NaN
3          NaN       2       2       1       NaN    NaN                   NaN
4          NaN       2       2       1       NaN    NaN                   NaN

   conscientiousness  extraversion  agreeableness  ...  daytime  weather  \
0                NaN           NaN            NaN  ...      NaN      NaN
1                NaN           NaN            NaN  ...      NaN      NaN
2                NaN           NaN            NaN  ...      NaN      NaN
3                NaN           NaN            NaN  ...      1.0      NaN
4                NaN           NaN            NaN  ...      NaN      NaN

   companion  mood  weekday  travelGoal  transport  category1  category2  \
0        NaN   NaN      NaN         NaN        NaN          1        NaN
1        NaN   NaN      NaN         NaN        NaN          1        NaN
2        NaN   NaN      NaN         NaN        NaN          1        NaN
3        NaN   NaN      NaN         NaN        NaN          1        NaN
4        NaN   NaN      NaN         NaN        NaN          1        NaN

   category3
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 28 columns]

In [56]:
yelp0_df

       user,item,stars,date,company_partner,typeOfTheMeal_dinner,priorVisits_1st,typeOfTheMeal_breakfast,typeOfTheMeal_lunch,company_colleague,timeOfTheDay_night,occasion_birthday,recommendation_recommend,company_sibling,dayOfTheWeek_weekend,takeout_takeout,company_friend,company_parent,car_car,priorVisits_2nd,company_child,reservation_walkin,timeOfTheDay_afternoon,traveling_travel,reservation_reservation,discount_applied,dayOfTheWeek_weekday,timeOfTheDay_morning,car_walk,occasion_anniversary,occasion_wedding,occasion_holiday
0       mNsVyC9tQVYtzLOCbh2Piw,MWmXGQ98KbRo3vsS5nZhMA,...
1       Jha0USGDMefGFRLik_xFQg,bMratNjTG5ZFEA6hVyr-xQ,...
2       QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,...
3       aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,...
4       G0DHgkSsDozqUPWtlxVEMw,oBhJuukGRqPVvYBfTkhuZA,...
...                                                   ...
605087  bJ5FtCtZX3ZZacz2_2PJjA,SOsjW1JARmtHUFtpFlp8rw,...
605088  ua6QuBe6mar6pDrhHETzJQ,Bk_1vsPtOtO0bojfQZQIOw,...
605089  am7-gkH_PDz598oTdYSD6A,3gVSrS4kffGGZT8oXHsIcw,...
605090  MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,...
605091  7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,...

[605092 rows x 1 columns]